<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Cadastro</h1>
        <form action="/register" method="post">
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Login:</label>
            <input type="text" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
          </div>
          <div class="form-group">
            <label for="address">Endereço:</label>
            <input type="text" id="address" name="address">
          </div>
          <div class="form-group">
              <label for="bornDate">Data de Nascimento:</label>
              <input type="date" id="bornDate" name="bornDate">
          </div>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">
          </div>
          <div class="form-group">
            <label for="rg">RG:</label>
            <input type="text" id="rg" name="rg">
          </div>
          <div class="form-group" hidden>
            <label for="crm">CRM:</label>
            <input type="text" id="crm" name="crm">
          </div>
          <div class="form-group" hidden>
            <label for="specialization">Especialização:</label>
            <input type="text" id="specialization" name="specialization">
          </div>
          <div class="form-group">
            <fieldset id="fieldset">
              <legend>Profissão</legend>
              <div>
                <input type="radio" id="medic" name="job" value="medic">
                <label for="medic">Medico</label>
              </div>
              <div>
                <input type="radio" id="pacient" name="job" value="pacient">
                <label for="pacient">Paciente</label>
              </div>
              <div>
                <input type="radio" id="secretary" name="job" value="secretary">
                <label for="secretary">Secretaria</label>
              </div>
            </fieldset>
            </div>
          <button type="submit">Cadastrar</button>
        </form>
      </div>
      <script>
          const medic = document.querySelector('#medic');
          const pacient = document.querySelector('#pacient');
          const secretary = document.querySelector('#secretary');

          const fieldset = document.querySelector('#fieldset');

          const crm = document.querySelector('#crm');
          const specialization = document.querySelector('#specialization');
          let container = document.getElementsByClassName("container")
          fieldset.addEventListener('change', () => {
            if (medic.checked) {
              crm.parentElement.hidden = false;
              specialization.parentElement.hidden = false;
            } else if(pacient.checked || secretary.checked){
              crm.parentElement.hidden = true;
              specialization.parentElement.hidden = true;
            }
          });
      </script>
    </main>
  </body>
</html>